{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
    <h1>Commentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Reponse</th>
                <td>{{ commentaire.reponse }}</td>
            </tr>
            <tr>
                <th>Id_topic</th>
                <td>{{ commentaire.idTopic }}</td>
            </tr>
            <tr>
                <th>Best_rep</th>
                <td>{{ commentaire.bestRep }}</td>
            </tr>
        </tbody>
    </table>

    <a class="text-decoration-none " href="{{ path('commentaire_index') }}">back to list</a>

    <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}">edit</a>

    {{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}
