{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center flex-column">

        <h2 class="mt-5 titre">{{ topic.Titre }}</h2>

        <h3 class="mt-3 categorie">{{ topic.Categorie }}</h3>

        <div class="border rounded mt-4 question">
        <p class="m-0 font-size-4">{{ topic.question }}</p>
        </div>
    </div>



    {% if app.user %}
    {% if app.user.id == topic.iduser or 'ROLE_ADMIN' in app.user.roles %}
        <div class="d-flex justify-content-around">
        <a href="{{ path('topic_edit', {'id': topic.id}) }}">edit</a>
        {{ include('topic/_delete_form.html.twig') }}
        </div>
    {% endif %}
    {% endif %}
    {{ include('commentaire/_form.html.twig') }}
    {% for coms in com  %}
        {% if coms.idTopic == topic.id %}
            <p class="text-center">{{ coms.reponse }}</p>

        {% endif %}
    {% endfor %}

{% endblock %}
